.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;

  background-color: aquamarine;
}

.label,
.input {
  margin-bottom: 10px;
}

.addBtn {
  margin-top: 5px;
}
