.title {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  text-align: center;
}

.appear {
  opacity: 0;
  transform: translateX(-100%);
}

.appearActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}
